---
Language:              Cpp
BasedOnStyle:          Mozilla
IncludeBlocks:         Regroup
IndentAccessModifiers: true
IndentPPDirectives:    AfterHash
IndentWidth:           4
InsertNewlineAtEOF:    true
...

