[core]
    editor = hx
    pager = delta
[filter "lfs"]
    required = true
[user]
    user = youthlic
    email = Ulic.youthlic@gmail.com
    name = ulic-youthlic
    signingkey = 3BAD8610
[commit]
    gpgsign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    dark = true
    # light = true
    line-numbers = true
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
